.center-text {
    text-align: center;
}

.top-background {
    background-color: white;
  }

/* Apply padding to everything inside the div */

.padded {
    padding-left: 10px;
    padding-right: 10px;
}

.center-div {
    margin-left: auto;
    margin-right: auto;
    /* You can also use the following shorthand: margin: 0 auto; */
}

.top-padding {
    padding-top: 2%;
}

.gif-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gif-item {
    max-width: 200px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
}

.images {
    position: relative;
    flex-basis: 80rem;
}

.images img {
    margin: 5px;
    position: relative;
    /* max-width: 18.75rem; */
    max-height: 15rem;
    border: 1px solid #111;
}

